<h1>All Flats</h1>

<div class="flats-container">
  <% @flats.each do |flat| %>
    <div class="flat-card">
      <h2><%= link_to flat["name"], flat_path(flat["id"]) %></h2>
      <p><%= flat["priceCurrency"] %> | <%= flat["price"] %></p>
    </div>
  <% end %>
</div>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
